@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

/* Global Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */

:root {
  --background-clr: rgb(217, 245, 255);
  --accent-clr: rgb(72, 82, 85);
  --main-ff: "Source Code Pro", monospace;
  --main-fc: #000;
}

/* Basics */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
button,
li,
input {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

/* Typography */

body {
  font-family: var(--main-ff);
}

header,
footer {
  color: #fff;
}

nav h1 {
  font-size: 2rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

#ton-output-div,
#h-output-div,
#aot-output-div,
#score-div {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

.formula-div {
  text-align: center;
}

.ton-input-div,
.h-input-div,
.aot-input-div {
  font-size: 1.5rem;
  text-align: center;
}

button {
  color: #fff;
}

.ton-input-div input,
.h-input-div input,
.aot-input-div input {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 2px;
}

.wanna-bes {
  font-size: 30px;
}

#wanna-be-close {
  text-align: end;
}

/* Styling */

body {
  background: var(--background-clr);
}

nav {
  background: var(--accent-clr);
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wanna-bes {
  display: none;
  padding-left: 1em;
  cursor: default;
  margin: 0;
}

#nav-links {
  display: flex;
  gap: 1em;
  margin-left: 2em;
}

.nav-items {
  padding: 0.5em;
  cursor: pointer;
  font-weight: 600;
}

.active-nav-item {
  text-decoration: underline;
}

main {
  flex-grow: 1;
}

footer {
  padding: 1em;
  background: var(--accent-clr);
  padding-bottom: 1px;
}

#social-media-tab li {
  margin: 10px;
}

.social-media-links:hover {
  text-decoration: underline;
}

#portfolio-link {
  margin-top: 20px;
  opacity: 0.6;
  transition: all 250ms;
}
#portfolio-link:hover {
  opacity: 1;
}

#questions-div {
  padding: 1em 2em;
}

#questions-div li {
  list-style: decimal;
  margin: 2.5em 2em;
}

.question {
  margin-bottom: 1em;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}

button {
  cursor: pointer;
  padding: 1em 1.5em;
  background: var(--accent-clr);
  display: block;
  margin: auto;
  transition: transform 250ms;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.05);
}

.ton-input-div,
.h-input-div,
.aot-input-div {
  margin: 2em 0;
}

.ton-input-div input,
.h-input-div input,
.aot-input-div input {
  display: block;
  margin: auto;
  width: min(500px, 80%);
  height: 40px;
  margin-top: 1em;
  padding: 0.5em;
  background: var(--accent-clr);
  border-radius: 5px;
}

#ton-output-div,
#h-output-div,
#aot-output-div,
#score-div {
  margin: 2em 0;
}

.formula-div {
  margin: 3em 0 1em 0;
  padding: 2em;
}

/* Media Queries */

@media (max-width: 800px) {
  .wanna-bes {
    display: inline;
  }

  #wanna-be-close {
    margin-right: -65px;
    margin-top: -45px;
  }

  #nav-links {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3em 5em;
    border-bottom-left-radius: 15px;
    background: var(--accent-clr);
    transition: transform 350ms;
    transform: translateY(-100%);
  }

  #nav-links.active {
    transform: translateY(0);
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
  }
}
